 {% include 'head.html' %}
 {% include 'header.html' %}
<br>
<form action="/login" method="POST">
	<div class="input-field ">
	<input requiredid name="login" type="text">
	<label for="nome">Login</label>
	<br>
	</div>
	<div class="input-field ">
	<input requiredid name="senha" type="password">
	<label for="senha">Senha</label>
	<br>
	</div>
	<br>
    <button class="btn waves-effect waves-light red" type="submit">Enviar
       <i class="material-icons right">send</i>
    </button>
</form>
<br><br>

{% include 'footer.html' %}